{% extends 'add_info/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Загрузка данных{% endblock title %}

{% block staticfiles %}
    <link href="{% static "css/distribution.css" %}" rel="stylesheet">
{% endblock staticfiles %}

{% block main %}
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{% url "profile" %}">Профиль</a></li>
            <li><a href="{% url 'user_info' %}">Мои результаты</a></li>
            <li><a href="{% url 'select_recommend' %}">Мои рекомендации</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <h1><b>{{ user.lastname }} {{ user.firstname }} {{ user.patronymic }}</b></h1>
        <br>
        <h4><b>Логин: </b>{{ user.user }}</h4>
        <h4><b>Группа: </b>{{ user.group }}</h4>
        <h4><b>Роль: </b>Студент</h4>
        <div class="col-md-offset-10 col-md-2">
            <button type="button" class="btn btn-default btn-lg">
                Изменить данные
            </button>
        </div>
    </div>


{% endblock %}